*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
}
.active{
    color: goldenrod !important;
}
.featuers .item span{
    border: 2px solid transparent;
}
.featuers .item:hover span{
    border: 2px solid gold;
}
.featuers .item:hover .text h6{
    color: blue;
}
.content .card:hover button{
    color: blue;
    cursor: pointer;
}
.cards .card{
    cursor: pointer;
}
.cards .icons{
    opacity: 0;
    transition: all .3s;
    transform: translate(50px);
}
.cards .card:hover .icons{
    opacity: 1;
    transform: translateY(0px);
}
.cards .card:hover img{
    filter: brightness(90%);
    border-radius: 10px;
}
.imgContaienr{
    position: relative;
    transition: all .3s;
}
.imgContaienr span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    opacity: .2;
}
.forceHight{
    /* height: 200px !important; */
    width: 100% !important;
    height: fit-content !important;
}
.forceHight img{
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
}
#featurePage,#ContactUsPage,
#BlogPage,#servicesPage,#faqsPage,
#GallryPage,#emelentPage,
#page404,#wishListPage,#showProduct
{
    display: none;
}
.cart{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 680px;
    width: 350px;
    right: 10px;
    top: 100%;
    display: none;
}
::-webkit-scrollbar{
    display: none;
}
.icons{
    transform: translate(0) !important;
}
#GallryPage .content img{
    transition: all .5s;
}
#GallryPage .content img:hover{
    transform: scale(1.07);
}
@keyframes imgHover{
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}
@media screen and (max-width:500px) {
    .icons{
        /* left: 15%; */
    }
    .imgCreateVaio{
        height: 200px;
    }
    .imgCreateVaio .text{
        top: 20% !important;
        left: 10% !important;
    }
    .imgCreateVaio img{
        height: 100%;
        object-fit: fill;
    }
    .inputForSignUp{
        width: 100% !important;
    }
    .featurePage .content .content .item img{
        width: 100% !important;
    }
    .featurePage .content .content .item{
        height: 300px !important;
    }
    #BlogPage .content .card{
        height: fit-content !important;
    }
    #numError{
        font-size: 10rem !important;
    }
}
@media screen and (max-width:850px) {

    #BlogPage .content .card{
        height: fit-content !important;
    }
    #GallryPage{
        width: 100%;
    }
}